<div class="topnav">
  <a class="nav-link text-danger" (click)="signOut()">Sign Out</a>

  <a class="nav-link active" aria-current="page" [routerLink]="['/admin-sign-up']"
    routerLinkActive="router-link-active"> Add admin user</a>
  <a class="nav-link active" aria-current="page" [routerLink]="['/admin-all-tickets']"
    routerLinkActive="router-link-active">View Tickets</a>

  <a class="nav-link active" aria-current="page" [routerLink]="['/admin-dashboard']"
    routerLinkActive="router-link-active"> Admin Dashboard</a>
</div>