.card{
    width: 70%;
}

input{
    border: none;
    width: 100%;
    margin: 5px;
    border-radius: 0.5em;
    padding: 8px;
}

button{
    width: 90%;
    margin: 5px;
}

p{
    font-size: 12px;
    margin: 5px;
}

.card-holder{
    margin-top: 5%;
}