<app-navbar></app-navbar>
<div class="ticket-card card">
    <h4>Ticket details</h4>
    <hr>
    <div class="ticket-details" fxLayout="row wrap">
        <p> Ticket ID: &nbsp; </p> <span> {{ticket?.my_id}}   </span>
    </div>
    <div class="ticket-details" fxLayout="row wrap">
        <p> Ticket Status: &nbsp; </p> <span>   {{ticket?.ticket_status}} </span>
    </div>

    <div class="ticket-details" fxLayout="row wrap"> 
        <p> Category:  &nbsp;</p> <span > {{ticket?.category}}  </span>
    </div>

    <div  class="ticket-details" fxLayout="row wrap">
        <p> Description: &nbsp; </p> <span >  {{ticket?.description}}  </span>
    </div>

    <br>
    <hr>
    <label> <h4>Add Comment: </h4> </label>

    <form fxLayout="column" fxLayoutAlign="space-around center" >
        <textarea></textarea>
        <button class="btn btn-success">Submit</button>
        <button (click) ="goBack()" class=" btn btn-outline-danger">Back</button>
    </form>   
          
</div>