<app-navbar></app-navbar>
<div class="card-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Raise Ticket</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="ticketForm" fxLayout="column"
                fxLayoutAlign="space-around center">
                <select formControlName="category">
                    <option value="">Choose Category</option>
                    <option value="windows">Windows</option>
                    <option value="office">Office</option>
                    <option value="internet">Internet</option>
                    <option value="printing">Printing</option>
                    <option value="other">Other</option>
                </select>
                <textarea formControlName="description" placeholder="Describe your problem:"></textarea>
                <input formControlName="contact" type="number" placeholder="Contact Phone number">

                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                    <button class="btn btn-success" type="submit" [disabled]="!ticketForm.valid">
                        Submit Ticket
                    </button>
                    <button (click)="cancel()" class="btn btn-outline-danger"> Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>