<div class="card-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">IT Helpdesk Login</h5>
            <form fxLayout="column" fxLayoutAlign="space-around center">
                <input type="email" placeholder="Your Email">
                <input type="password" placeholder="Your Password">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                    <button type="submit" class="btn btn-info"> Log In with mail <i class="far fa-envelope"></i></button>
                    <button type="submit" class="btn"> <i class="fab fa-google"></i> Log In with Google</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <p>No Account? <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up here</a>
                    </p>
                    <p>Forgot Password? <a [routerLink]="['/forgot-password']"
                            routerLinkActive="router-link-active">Reset here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>