<div> <a [routerLink]="['/admin-sign-in']" routerLinkActive="router-link-active">[Admin]</a>  </div>
<div class="card-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">IT Helpdesk Login <i class="fas fa-sign-in-alt"></i></h2>
            <form [formGroup]="signInForm" fxLayout="column" fxLayoutAlign="space-around center">
                <input type="email" placeholder="Your Email" formControlName="email" required>
                <input type="password" placeholder="Your Password" formControlName="password" required>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                    <button type="submit" (click)="signIn()" class="btn btn-info"> Sign In with mail <i class="far fa-envelope"></i></button>
                    <button type="submit" (click)="signUpWithGoogle()" class="btn"> <i class="fab fa-google"></i> Sign In with Google</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <p>No Account? <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up here</a>
                    </p>
                    <p>Forgot Password? <a [routerLink]="['/forgot-password']"
                            routerLinkActive="router-link-active">Reset here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
