<app-admin-navbar></app-admin-navbar>
<div class="card-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">IT Helpdesk add Admin</h5>
            <form [formGroup]="adminSignUpForm"fxLayout="column" fxLayoutAlign="space-around center">
                <input type="email" placeholder="Enter user Email"  formControlName="email" required>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                    <button type="submit" (click)="makeAdmin()"class="btn btn-success"> Add admin <i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>