<nav class="navbar  navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="rightAligned.toggle()"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarRightAlignExample"
        mdbCollapse
        #rightAligned="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/all-tickets']" routerLinkActive="router-link-active" >View Your Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/raise-ticket']" routerLinkActive="router-link-active" >Raise Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/faq']" routerLinkActive="router-link-active" >FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" (click)="signOut()" >Sign Out</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>