<div class="card-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">IT Helpdesk Forgot Password Form</h5>
            <form fxLayout="column" fxLayoutAlign="space-around center">
                <input type="email" placeholder="Your Email">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                    <button type="submit" class="btn btn-success"> Send Reset Link <i class="fas fa-paper-plane"></i></button>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <p>Already have an account? <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active">Sign in  here</a>
                    </p>
                    <p>No Account? <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>