/* Structure */
table {
    width: 100%;
  }
  
  form, input {
    font-size: 14px;
    width: 100%;
  }

  input{
      margin-bottom: 10px;
      border: none;
      border-bottom: 2px solid grey;
  }

  .all-tickets-page-container{
      padding: 16px;
  }

  table{
      padding: 5px;
      border-radius: 5px;
  }
  
  