<app-admin-navbar></app-admin-navbar>
<div class="dashboard-card card" fxLayout="column wrap" fxLayoutAlign="space-between center">
    <div [routerLink]="['/admin-all-tickets']" routerLinkActive="router-link-active"
        class="btn btn-info action-card card">
        View All Tickets
    </div>
</div>
<div class="card chart">
    <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
            [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>
